@model FitnessApp.Models.ApplicationViewModels.FitnessClassSignUpView

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FitnessClassType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attending)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @Html.DisplayFor(model => model.Id)
            <td>
                @Html.DisplayFor(model => model.FitnessClassType.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.StartTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.EndTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.DateOfClass)
            </td>
            <td>
                @Html.DisplayFor(model => model.RemainingCapacity)
            </td>
            <td>
                @Html.DisplayFor(model => model.Instructor.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Location.Name)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.Attending)
            </td>
        </tr>
    </tbody>
</table>
